@model DocumentViewModel

<html>
<head>
    @if (!string.IsNullOrWhiteSpace(Model.BreadcrumbTitle))
    {
        ViewData["Title"] = Model.BreadcrumbTitle;

        <title>@ViewData["Title"]</title>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="description" content="@Model.Description">
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="keywords" content="@Model.Keywords">
    }
</head>
<body>
    <partial name="Breadcrumb" model="@Model.Breadcrumb" />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DocumentId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DocumentId)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CanonicalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CanonicalName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BreadcrumbTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BreadcrumbTitle)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IncludeInSitemap)
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IncludeInSitemap)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.Content)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastReviewed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastReviewed)
            </dd>

            @if (Model.AlternativeNames?.Count() > 0)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AlternativeNames)
                </dt>
                <dd class="col-sm-10">
                    <ol>
                        @foreach (var alternativeName in Model.AlternativeNames)
                        {
                            <li><a href="/pages/@alternativeName">@alternativeName</a></li>
                        }
                    </ol>
                </dd>
            }
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>